CREATE DATABASE QLCHNongDuoc
GO
USE [QLCHNongDuoc]
GO
IF OBJECT_ID('[dbo].[FK_CHI_TIET_MA_SAN_PHAM]', 'F') IS NOT NULL
    ALTER TABLE [dbo].[CHI_TIET_PHIEU_BAN] DROP CONSTRAINT [FK_CHI_TIET_MA_SAN_PHAM]
GO
IF OBJECT_ID('[dbo].[FK_CHI_TIET_PHIEU_BAN]', 'F') IS NOT NULL
    ALTER TABLE [dbo].[CHI_TIET_PHIEU_BAN] DROP CONSTRAINT [FK_CHI_TIET_PHIEU_BAN]
GO
IF OBJECT_ID('[dbo].[FK_DU_NO_KH_KHACH_HANG]', 'F') IS NOT NULL
    ALTER TABLE [dbo].[DU_NO_KH] DROP CONSTRAINT [FK_DU_NO_KH_KHACH_HANG]
GO
IF OBJECT_ID('[dbo].[FK_MA_SAN_PHAM_PHIEU_NHAP]', 'F') IS NOT NULL
    ALTER TABLE [dbo].[MA_SAN_PHAM] DROP CONSTRAINT [FK_MA_SAN_PHAM_PHIEU_NHAP]
GO
IF OBJECT_ID('[dbo].[FK_MA_SAN_PHAM_SAN_PHAM]', 'F') IS NOT NULL
    ALTER TABLE [dbo].[MA_SAN_PHAM] DROP CONSTRAINT [FK_MA_SAN_PHAM_SAN_PHAM]
GO
IF OBJECT_ID('[dbo].[FK_PHIEU_BAN_KHACH_HANG]', 'F') IS NOT NULL
    ALTER TABLE [dbo].[PHIEU_BAN] DROP CONSTRAINT [FK_PHIEU_BAN_KHACH_HANG]
GO
IF OBJECT_ID('[dbo].[FK_PHIEU_CHI_LY_DO_CHI]', 'F') IS NOT NULL
    ALTER TABLE [dbo].[PHIEU_CHI] DROP CONSTRAINT [FK_PHIEU_CHI_LY_DO_CHI]
GO
IF OBJECT_ID('[dbo].[FK_PHIEU_NHAP_NCC]', 'F') IS NOT NULL
    ALTER TABLE [dbo].[PHIEU_NHAP] DROP CONSTRAINT [FK_PHIEU_NHAP_NCC]
GO
IF OBJECT_ID('[dbo].[FK_PHIEU_THANH_TOAN_KH]', 'F') IS NOT NULL
    ALTER TABLE [dbo].[PHIEU_THANH_TOAN] DROP CONSTRAINT [FK_PHIEU_THANH_TOAN_KH]
GO
IF OBJECT_ID('[dbo].[FK_SAN_PHAM_DON_VI_TINH]', 'F') IS NOT NULL
    ALTER TABLE [dbo].[SAN_PHAM] DROP CONSTRAINT [FK_SAN_PHAM_DON_VI_TINH]
GO
/****** Object:  Table [dbo].[NGUOI_DUNG]    Script Date: 11/13/2025 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[NGUOI_DUNG]') AND type in (N'U'))
DROP TABLE [dbo].[NGUOI_DUNG]
GO
/****** Object:  Table [dbo].[THAM_SO]    Script Date: 10/5/2025 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[THAM_SO]') AND type in (N'U'))
DROP TABLE [dbo].[THAM_SO]
GO
/****** Object:  Table [dbo].[SAN_PHAM]    Script Date: 10/5/2025 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SAN_PHAM]') AND type in (N'U'))
DROP TABLE [dbo].[SAN_PHAM]
GO
/****** Object:  Table [dbo].[PHIEU_THANH_TOAN]    Script Date: 10/5/2025 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PHIEU_THANH_TOAN]') AND type in (N'U'))
DROP TABLE [dbo].[PHIEU_THANH_TOAN]
GO
/****** Object:  Table [dbo].[PHIEU_NHAP]    Script Date: 10/5/2025 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PHIEU_NHAP]') AND type in (N'U'))
DROP TABLE [dbo].[PHIEU_NHAP]
GO
/****** Object:  Table [dbo].[PHIEU_CHI]    Script Date: 10/5/2025 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PHIEU_CHI]') AND type in (N'U'))
DROP TABLE [dbo].[PHIEU_CHI]
GO
/****** Object:  Table [dbo].[PHIEU_BAN]    Script Date: 10/5/2025 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PHIEU_BAN]') AND type in (N'U'))
DROP TABLE [dbo].[PHIEU_BAN]
GO
/****** Object:  Table [dbo].[NHA_CUNG_CAP]    Script Date: 10/5/2025 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[NHA_CUNG_CAP]') AND type in (N'U'))
DROP TABLE [dbo].[NHA_CUNG_CAP]
GO
/****** Object:  Table [dbo].[MA_SAN_PHAM]    Script Date: 10/5/2025 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[MA_SAN_PHAM]') AND type in (N'U'))
DROP TABLE [dbo].[MA_SAN_PHAM]
GO
/****** Object:  Table [dbo].[LY_DO_CHI]    Script Date: 10/5/2025 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[LY_DO_CHI]') AND type in (N'U'))
DROP TABLE [dbo].[LY_DO_CHI]
GO
/****** Object:  Table [dbo].[KHACH_HANG]    Script Date: 10/5/2025 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[KHACH_HANG]') AND type in (N'U'))
DROP TABLE [dbo].[KHACH_HANG]
GO
/****** Object:  Table [dbo].[DU_NO_KH]    Script Date: 10/5/2025 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DU_NO_KH]') AND type in (N'U'))
DROP TABLE [dbo].[DU_NO_KH]
GO
/****** Object:  Table [dbo].[DON_VI_TINH]    Script Date: 10/5/2025 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DON_VI_TINH]') AND type in (N'U'))
DROP TABLE [dbo].[DON_VI_TINH]
GO
/****** Object:  Table [dbo].[CHI_TIET_PHIEU_BAN]    Script Date: 10/5/2025 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[CHI_TIET_PHIEU_BAN]') AND type in (N'U'))
DROP TABLE [dbo].[CHI_TIET_PHIEU_BAN]
GO
/****** Object:  Table [dbo].[CHI_TIET_PHIEU_BAN]    Script Date: 10/5/2025 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHI_TIET_PHIEU_BAN](
	[ID_PHIEU_BAN] [int] NOT NULL,
	[ID_MA_SAN_PHAM] [varchar](50) NOT NULL,
	[SO_LUONG] [int] NULL,
	[DON_GIA] [int] NULL,
	[THANH_TIEN] [int] NULL,
 CONSTRAINT [PK_CHI_TIET_PHIEU_BAN] PRIMARY KEY CLUSTERED 
(
	[ID_PHIEU_BAN] ASC,
	[ID_MA_SAN_PHAM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DON_VI_TINH]    Script Date: 10/5/2025 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DON_VI_TINH](
	[ID] [int] NOT NULL,
	[TEN_DON_VI] [nvarchar](50) NULL,
 CONSTRAINT [PK_DON_VI_TINH] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DU_NO_KH]    Script Date: 10/5/2025 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DU_NO_KH](
	[ID_KHACH_HANG] [int] NOT NULL,
	[THANG] [smallint] NOT NULL,
	[NAM] [smallint] NOT NULL,
	[DAU_KY] [int] NULL,
	[PHAT_SINH] [int] NULL,
	[DA_TRA] [int] NULL,
	[CUOI_KY] [int] NULL,
 CONSTRAINT [PK_DU_NO_KH] PRIMARY KEY CLUSTERED 
(
	[ID_KHACH_HANG] ASC,
	[THANG] ASC,
	[NAM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACH_HANG]    Script Date: 10/5/2025 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACH_HANG](
	[ID] [int] NOT NULL,
	[HO_TEN] [nvarchar](255) NULL,
	[DIA_CHI] [nvarchar](255) NULL,
	[DIEN_THOAI] [nvarchar](50) NULL,
	[LOAI_KH] [bit] NOT NULL,
 CONSTRAINT [PK_KHACH_HANG] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NGUOI_DUNG]    Script Date: 11/13/2025 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NGUOI_DUNG](
	[ID] [int] IDENTITY(1,1) NOT NULL,
    [TEN_DANG_NHAP] [varchar](50) NOT NULL,
    [MAT_KHAU] [varchar](255) NOT NULL,
    [HO_TEN] [nvarchar](100) NOT NULL,
    [SO_DIEN_THOAI] [varchar](20) NULL,
    [QUYEN_HAN] [varchar](20) NOT NULL,
    [TRANG_THAI] [nvarchar](20) NOT NULL DEFAULT N'Hoạt động',
    CONSTRAINT [CK_NGUOI_DUNG_TRANG_THAI] CHECK ([TRANG_THAI] IN (N'Hoạt động', N'Tạm ngưng')),
    CONSTRAINT [PK_NGUOI_DUNG] PRIMARY KEY CLUSTERED
    (
        [ID] ASC
    )WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
    ) ON [PRIMARY]
GO

/****** Object:  Table [dbo].[LY_DO_CHI]    Script Date: 10/5/2025 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LY_DO_CHI](
	[ID] [int] NOT NULL,
	[LY_DO] [nvarchar](50) NULL,
 CONSTRAINT [PK_LY_DO_CHI] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MA_SAN_PHAM]    Script Date: 10/5/2025 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MA_SAN_PHAM](
	[ID] [varchar](50) NOT NULL,
	[ID_SAN_PHAM] [int] NULL,
	[ID_PHIEU_NHAP] [int] NULL,
	[DON_GIA_NHAP] [int] NULL,
	[SO_LUONG] [int] NULL,
	[NGAY_NHAP] [datetime] NULL,
	[NGAY_SAN_XUAT] [datetime] NULL,
	[NGAY_HET_HAN] [datetime] NULL,
 CONSTRAINT [PK_MA_SAN_PHAM] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHA_CUNG_CAP]    Script Date: 10/5/2025 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHA_CUNG_CAP](
	[ID] [int] NOT NULL,
	[HO_TEN] [nvarchar](50) NULL,
	[DIA_CHI] [nvarchar](100) NULL,
	[DIEN_THOAI] [nvarchar](50) NULL,
 CONSTRAINT [PK_NHA_CUNG_CAP] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEU_BAN]    Script Date: 10/5/2025 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEU_BAN](
	[ID] [int] NOT NULL,
	[ID_KHACH_HANG] [int] NOT NULL,
	[ID_NGUOI_DUNG] [int] NULL,
	[NGAY_BAN] [datetime] NULL,
	[TONG_TIEN] [int] NULL,
	[DA_TRA] [int] NULL,
	[CON_NO] [int] NULL,
	[CHI_PHI_VAN_CHUYEN] [decimal](18, 0) NULL DEFAULT 0,
	[CHI_PHI_DICH_VU] [decimal](18, 0) NULL DEFAULT 0,
 CONSTRAINT [PK_PHIEU_BAN] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEU_CHI]    Script Date: 10/5/2025 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEU_CHI](
	[ID] [int] NOT NULL,
	[NGAY_CHI] [datetime] NULL,
	[TONG_TIEN] [int] NULL,
	[ID_LY_DO_CHI] [int] NULL,
	[GHI_CHU] [nvarchar](255) NULL,
 CONSTRAINT [PK_PHIEU_CHI] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEU_NHAP]    Script Date: 10/5/2025 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEU_NHAP](
	[ID] [int] NOT NULL,
	[NGAY_NHAP] [datetime] NULL,
	[TONG_TIEN] [int] NULL,
	[DA_TRA] [int] NULL,
	[CON_NO] [int] NULL,
	[ID_NHA_CUNG_CAP] [int] NULL,
 CONSTRAINT [PK_PHIEU_NHAP] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEU_THANH_TOAN]    Script Date: 10/5/2025 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEU_THANH_TOAN](
	[ID] [int] NOT NULL,
	[NGAY_THANH_TOAN] [datetime] NULL,
	[TONG_TIEN] [int] NULL,
	[ID_KHACH_HANG] [int] NULL,
	[GHI_CHU] [nvarchar](255) NULL,
 CONSTRAINT [PK_PHIEU_THANH_TOAN] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SAN_PHAM]    Script Date: 10/5/2025 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SAN_PHAM](
	[ID] [int] NOT NULL,
	[TEN_SAN_PHAM] [nvarchar](100) NOT NULL,
	[SO_LUONG] [int] NULL,
	[DON_GIA_NHAP] [int] NULL,
	[GIA_BAN_SI] [int] NULL,
	[GIA_BAN_LE] [int] NULL,
	[ID_DON_VI_TINH] [int] NULL,
 CONSTRAINT [PK_SAN_PHAM] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THAM_SO]    Script Date: 10/5/2025 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THAM_SO](
	[PHIEU_BAN] [int] NULL,
	[NHA_CUNG_CAP] [int] NULL,
	[KHACH_HANG] [int] NULL,
	[PHIEU_NHAP] [int] NULL,
	[PHIEU_THANH_TOAN] [int] NULL,
	[TEN_CUA_HANG] [nvarchar](100) NULL,
	[DIA_CHI] [nvarchar](100) NULL,
	[DIEN_THOAI] [nvarchar](50) NULL,
	[SAN_PHAM] [int] NULL,
	[PHIEU_CHI] [int] NULL
) ON [PRIMARY]
GO
IF NOT EXISTS (SELECT * FROM sys.columns WHERE object_id = OBJECT_ID(N'[dbo].[THAM_SO]') AND name = 'PHUONG_PHAP_XUAT_KHO')
BEGIN
ALTER TABLE [dbo].[THAM_SO] ADD
 	[PHUONG_PHAP_XUAT_KHO] [varchar](20) NULL,
    [PHUONG_PHAP_TINH_GIA_XUAT] [varchar](30) NULL
END
GO
UPDATE [dbo].[THAM_SO] SET
    [PHUONG_PHAP_XUAT_KHO] = N'FIFO', -- 'FIFO', 'CHI_DINH'
    [PHUONG_PHAP_TINH_GIA_XUAT] = N'AVERAGE' -- 'AVERAGE', 'FIFO'
WHERE [PHUONG_PHAP_XUAT_KHO] IS NULL
GO
INSERT [dbo].[CHI_TIET_PHIEU_BAN] ([ID_PHIEU_BAN], [ID_MA_SAN_PHAM], [SO_LUONG], [DON_GIA], [THANH_TIEN]) VALUES (16, N'Actara00011', 2, 15000, 30000)
INSERT [dbo].[CHI_TIET_PHIEU_BAN] ([ID_PHIEU_BAN], [ID_MA_SAN_PHAM], [SO_LUONG], [DON_GIA], [THANH_TIEN]) VALUES (16, N'Tilt0013', 2, 11000, 22000)
INSERT [dbo].[CHI_TIET_PHIEU_BAN] ([ID_PHIEU_BAN], [ID_MA_SAN_PHAM], [SO_LUONG], [DON_GIA], [THANH_TIEN]) VALUES (17, N'Actara00011', 2, 15000, 30000)
GO
INSERT [dbo].[DON_VI_TINH] ([ID], [TEN_DON_VI]) VALUES (1, N'Thẻ')
INSERT [dbo].[DON_VI_TINH] ([ID], [TEN_DON_VI]) VALUES (7, N'Chai')
INSERT [dbo].[DON_VI_TINH] ([ID], [TEN_DON_VI]) VALUES (8, N'Kg')
GO
INSERT [dbo].[DU_NO_KH] ([ID_KHACH_HANG], [THANG], [NAM], [DAU_KY], [PHAT_SINH], [DA_TRA], [CUOI_KY]) VALUES (1, 11, 2007, 0, 0, 0, 100000)
INSERT [dbo].[DU_NO_KH] ([ID_KHACH_HANG], [THANG], [NAM], [DAU_KY], [PHAT_SINH], [DA_TRA], [CUOI_KY]) VALUES (3, 11, 2007, 0, 0, 0, 200000)
INSERT [dbo].[DU_NO_KH] ([ID_KHACH_HANG], [THANG], [NAM], [DAU_KY], [PHAT_SINH], [DA_TRA], [CUOI_KY]) VALUES (2, 11, 2007, 0, 0, 0, 300000)
GO
INSERT [dbo].[KHACH_HANG] ([ID], [HO_TEN], [DIA_CHI], [DIEN_THOAI], [LOAI_KH]) VALUES (1, N'Trần Văn Tèo', N'Tịnh biên', N'0919113501', 0)
INSERT [dbo].[KHACH_HANG] ([ID], [HO_TEN], [DIA_CHI], [DIEN_THOAI], [LOAI_KH]) VALUES (10, N'Lý Khang An', N'Thị Trấn Tận Châu', NULL, 0)
INSERT [dbo].[KHACH_HANG] ([ID], [HO_TEN], [DIA_CHI], [DIEN_THOAI], [LOAI_KH]) VALUES (11, N'Cửa hàng Được', N'Phú Tân', NULL, 1)
GO
SET IDENTITY_INSERT [dbo].[NGUOI_DUNG] ON
GO
INSERT [dbo].[NGUOI_DUNG] ([ID], [TEN_DANG_NHAP], [MAT_KHAU], [HO_TEN], [SO_DIEN_THOAI], [QUYEN_HAN], [TRANG_THAI]) VALUES (1, 'admin', '21232f297a57a5a743894a0e4a801fc3', N'Quản Trị Viên', '0987654321', 'ADMIN', N'Hoạt động')
INSERT [dbo].[NGUOI_DUNG] ([ID], [TEN_DANG_NHAP], [MAT_KHAU], [HO_TEN], [SO_DIEN_THOAI], [QUYEN_HAN], [TRANG_THAI]) VALUES (2, 'nva1', 'e10adc3949ba59abbe56e057f20f883e', N'Nguyễn Văn An', '0912345678', 'USER', N'Hoạt động')
INSERT [dbo].[NGUOI_DUNG] ([ID], [TEN_DANG_NHAP], [MAT_KHAU], [HO_TEN], [SO_DIEN_THOAI], [QUYEN_HAN], [TRANG_THAI]) VALUES (3, 'ttb2', 'e10adc3949ba59abbe56e057f20f883e', N'Trần Thị Bình', '0923456789', 'USER', N'Tạm ngưng')
GO
SET IDENTITY_INSERT [dbo].[NGUOI_DUNG] OFF
GO
INSERT [dbo].[LY_DO_CHI] ([ID], [LY_DO]) VALUES (1, N'Trả nợ Ngân hàng')
INSERT [dbo].[LY_DO_CHI] ([ID], [LY_DO]) VALUES (2, N'Trả lương Nhân viên')
INSERT [dbo].[LY_DO_CHI] ([ID], [LY_DO]) VALUES (3, N'Trả nợ nhà cung cấp')
GO
INSERT [dbo].[MA_SAN_PHAM] ([ID], [ID_SAN_PHAM], [ID_PHIEU_NHAP], [DON_GIA_NHAP], [SO_LUONG], [NGAY_NHAP], [NGAY_SAN_XUAT], [NGAY_HET_HAN]) VALUES (N'aaaa', 5, 21, 20000, 10, CAST(N'2008-04-15T00:00:00.000' AS DateTime), CAST(N'2008-04-15T00:00:00.000' AS DateTime), CAST(N'2008-04-18T00:00:00.000' AS DateTime))
INSERT [dbo].[MA_SAN_PHAM] ([ID], [ID_SAN_PHAM], [ID_PHIEU_NHAP], [DON_GIA_NHAP], [SO_LUONG], [NGAY_NHAP], [NGAY_SAN_XUAT], [NGAY_HET_HAN]) VALUES (N'Actara0001', 1, 14, 20000, 20, CAST(N'2008-01-01T00:00:00.000' AS DateTime), CAST(N'2008-01-01T00:00:00.000' AS DateTime), CAST(N'2009-01-01T00:00:00.000' AS DateTime))
INSERT [dbo].[MA_SAN_PHAM] ([ID], [ID_SAN_PHAM], [ID_PHIEU_NHAP], [DON_GIA_NHAP], [SO_LUONG], [NGAY_NHAP], [NGAY_SAN_XUAT], [NGAY_HET_HAN]) VALUES (N'Actara00011', 1, 10, 30000, 6, CAST(N'2007-12-30T00:00:00.000' AS DateTime), CAST(N'2007-12-30T00:00:00.000' AS DateTime), CAST(N'2008-12-30T00:00:00.000' AS DateTime))
GO
INSERT [dbo].[NHA_CUNG_CAP] ([ID], [HO_TEN], [DIA_CHI], [DIEN_THOAI]) VALUES (14, N'Cty Bảo vệ Thực vật An Giang', N'Long Xuyên', NULL)
INSERT [dbo].[NHA_CUNG_CAP] ([ID], [HO_TEN], [DIA_CHI], [DIEN_THOAI]) VALUES (15, N'Cty Mapacifc', NULL, NULL)
INSERT [dbo].[NHA_CUNG_CAP] ([ID], [HO_TEN], [DIA_CHI], [DIEN_THOAI]) VALUES (9, N'Nguyễn Huệ', N'Long Xuyên', NULL)
GO
INSERT [dbo].[PHIEU_BAN] ([ID], [ID_KHACH_HANG], [ID_NGUOI_DUNG], [NGAY_BAN], [TONG_TIEN], [DA_TRA], [CON_NO]) VALUES (16, 3, NULL, CAST(N'2008-01-22T00:00:00.000' AS DateTime), 52000, 50000, 2000)
INSERT [dbo].[PHIEU_BAN] ([ID], [ID_KHACH_HANG], [ID_NGUOI_DUNG], [NGAY_BAN], [TONG_TIEN], [DA_TRA], [CON_NO]) VALUES (17, 1, NULL, CAST(N'2008-01-22T00:00:00.000' AS DateTime), 52000, 0, 52000)
INSERT [dbo].[PHIEU_BAN] ([ID], [ID_KHACH_HANG], [ID_NGUOI_DUNG], [NGAY_BAN], [TONG_TIEN], [DA_TRA], [CON_NO]) VALUES (18, 9, NULL, CAST(N'2008-01-25T00:00:00.000' AS DateTime), 52000, 0, 52000)
GO
INSERT [dbo].[PHIEU_CHI] ([ID], [NGAY_CHI], [TONG_TIEN], [ID_LY_DO_CHI], [GHI_CHU]) VALUES (1, CAST(N'2008-01-06T00:00:00.000' AS DateTime), 2000000, 1, NULL)
INSERT [dbo].[PHIEU_CHI] ([ID], [NGAY_CHI], [TONG_TIEN], [ID_LY_DO_CHI], [GHI_CHU]) VALUES (2, CAST(N'2008-01-06T00:00:00.000' AS DateTime), 10000000, 3, NULL)
GO
INSERT [dbo].[PHIEU_NHAP] ([ID], [NGAY_NHAP], [TONG_TIEN], [DA_TRA], [CON_NO], [ID_NHA_CUNG_CAP]) VALUES (10, CAST(N'2007-12-30T00:00:00.000' AS DateTime), 300000, 0, 300000, 14)
INSERT [dbo].[PHIEU_NHAP] ([ID], [NGAY_NHAP], [TONG_TIEN], [DA_TRA], [CON_NO], [ID_NHA_CUNG_CAP]) VALUES (11, CAST(N'2008-01-01T00:00:00.000' AS DateTime), 240000, 0, 240000, 14)
INSERT [dbo].[PHIEU_NHAP] ([ID], [NGAY_NHAP], [TONG_TIEN], [DA_TRA], [CON_NO], [ID_NHA_CUNG_CAP]) VALUES (14, CAST(N'2008-01-01T00:00:00.000' AS DateTime), 400000, 0, 400000, 14)
GO
INSERT [dbo].[PHIEU_THANH_TOAN] ([ID], [NGAY_THANH_TOAN], [TONG_TIEN], [ID_KHACH_HANG], [GHI_CHU]) VALUES (12, CAST(N'2008-01-03T00:00:00.000' AS DateTime), 20000, 3, NULL)
INSERT [dbo].[PHIEU_THANH_TOAN] ([ID], [NGAY_THANH_TOAN], [TONG_TIEN], [ID_KHACH_HANG], [GHI_CHU]) VALUES (14, CAST(N'2008-01-06T00:00:00.000' AS DateTime), 50000, 2, NULL)
GO
INSERT [dbo].[SAN_PHAM] ([ID], [TEN_SAN_PHAM], [SO_LUONG], [DON_GIA_NHAP], [GIA_BAN_SI], [GIA_BAN_LE], [ID_DON_VI_TINH]) VALUES (1, N'Actara', 90, 14444, 15000, 16000, 1)
INSERT [dbo].[SAN_PHAM] ([ID], [TEN_SAN_PHAM], [SO_LUONG], [DON_GIA_NHAP], [GIA_BAN_SI], [GIA_BAN_LE], [ID_DON_VI_TINH]) VALUES (19, N'Nuti', 10, 10000, 12000, 13000, 7)
INSERT [dbo].[SAN_PHAM] ([ID], [TEN_SAN_PHAM], [SO_LUONG], [DON_GIA_NHAP], [GIA_BAN_SI], [GIA_BAN_LE], [ID_DON_VI_TINH]) VALUES (23, N'Hai Lúa Vàng', 100, 10000, 10000, 12000, 7)
GO
INSERT [dbo].[THAM_SO] ([PHIEU_BAN], [NHA_CUNG_CAP], [KHACH_HANG], [PHIEU_NHAP], [PHIEU_THANH_TOAN], [TEN_CUA_HANG], [DIA_CHI], [DIEN_THOAI], [SAN_PHAM], [PHIEU_CHI]) VALUES (21, 16, 16, 25, 15, N'A & B &D', N'Thị trấnTân Châu - Huyện Tân', N'076 847711', 24, 5)
GO
ALTER TABLE [dbo].[CHI_TIET_PHIEU_BAN]  WITH CHECK ADD  CONSTRAINT [FK_CHI_TIET_MA_SAN_PHAM] FOREIGN KEY([ID_MA_SAN_PHAM])
REFERENCES [dbo].[MA_SAN_PHAM] ([ID])
GO
ALTER TABLE [dbo].[CHI_TIET_PHIEU_BAN] CHECK CONSTRAINT [FK_CHI_TIET_MA_SAN_PHAM]
GO
ALTER TABLE [dbo].[CHI_TIET_PHIEU_BAN]  WITH CHECK ADD  CONSTRAINT [FK_CHI_TIET_PHIEU_BAN] FOREIGN KEY([ID_PHIEU_BAN])
REFERENCES [dbo].[PHIEU_BAN] ([ID])
GO
ALTER TABLE [dbo].[CHI_TIET_PHIEU_BAN] CHECK CONSTRAINT [FK_CHI_TIET_PHIEU_BAN]
GO
ALTER TABLE [dbo].[DU_NO_KH]  WITH CHECK ADD  CONSTRAINT [FK_DU_NO_KH_KHACH_HANG] FOREIGN KEY([ID_KHACH_HANG])
REFERENCES [dbo].[KHACH_HANG] ([ID])
GO
ALTER TABLE [dbo].[DU_NO_KH] CHECK CONSTRAINT [FK_DU_NO_KH_KHACH_HANG]
GO
ALTER TABLE [dbo].[MA_SAN_PHAM]  WITH CHECK ADD  CONSTRAINT [FK_MA_SAN_PHAM_PHIEU_NHAP] FOREIGN KEY([ID_PHIEU_NHAP])
REFERENCES [dbo].[PHIEU_NHAP] ([ID])
GO
ALTER TABLE [dbo].[MA_SAN_PHAM] CHECK CONSTRAINT [FK_MA_SAN_PHAM_PHIEU_NHAP]
GO
ALTER TABLE [dbo].[MA_SAN_PHAM]  WITH CHECK ADD  CONSTRAINT [FK_MA_SAN_PHAM_SAN_PHAM] FOREIGN KEY([ID_SAN_PHAM])
REFERENCES [dbo].[SAN_PHAM] ([ID])
GO
ALTER TABLE [dbo].[MA_SAN_PHAM] CHECK CONSTRAINT [FK_MA_SAN_PHAM_SAN_PHAM]
GO
ALTER TABLE [dbo].[PHIEU_BAN]  WITH CHECK ADD  CONSTRAINT [FK_PHIEU_BAN_KHACH_HANG] FOREIGN KEY([ID_KHACH_HANG])
REFERENCES [dbo].[KHACH_HANG] ([ID])
GO
ALTER TABLE [dbo].[PHIEU_BAN] CHECK CONSTRAINT [FK_PHIEU_BAN_KHACH_HANG]
GO
ALTER TABLE [dbo].[PHIEU_BAN]  WITH CHECK ADD  CONSTRAINT [FK_PHIEU_BAN_NGUOI_DUNG] FOREIGN KEY([ID_NGUOI_DUNG])
REFERENCES [dbo].[NGUOI_DUNG] ([ID])
GO
ALTER TABLE [dbo].[PHIEU_BAN] CHECK CONSTRAINT [FK_PHIEU_BAN_NGUOI_DUNG]
GO
CREATE NONCLUSTERED INDEX [IX_PHIEU_BAN_NGUOI_DUNG] ON [dbo].[PHIEU_BAN]([ID_NGUOI_DUNG]) INCLUDE ([NGAY_BAN], [TONG_TIEN])
GO
ALTER TABLE [dbo].[PHIEU_CHI]  WITH CHECK ADD  CONSTRAINT [FK_PHIEU_CHI_LY_DO_CHI] FOREIGN KEY([ID_LY_DO_CHI])
REFERENCES [dbo].[LY_DO_CHI] ([ID])
GO
ALTER TABLE [dbo].[PHIEU_CHI] CHECK CONSTRAINT [FK_PHIEU_CHI_LY_DO_CHI]
GO
ALTER TABLE [dbo].[PHIEU_NHAP]  WITH CHECK ADD  CONSTRAINT [FK_PHIEU_NHAP_NCC] FOREIGN KEY([ID_NHA_CUNG_CAP])
REFERENCES [dbo].[NHA_CUNG_CAP] ([ID])
GO
ALTER TABLE [dbo].[PHIEU_NHAP] CHECK CONSTRAINT [FK_PHIEU_NHAP_NCC]
GO
ALTER TABLE [dbo].[PHIEU_THANH_TOAN]  WITH CHECK ADD  CONSTRAINT [FK_PHIEU_THANH_TOAN_KH] FOREIGN KEY([ID_KHACH_HANG])
REFERENCES [dbo].[KHACH_HANG] ([ID])
GO
ALTER TABLE [dbo].[PHIEU_THANH_TOAN] CHECK CONSTRAINT [FK_PHIEU_THANH_TOAN_KH]
GO
ALTER TABLE [dbo].[SAN_PHAM]  WITH CHECK ADD  CONSTRAINT [FK_SAN_PHAM_DON_VI_TINH] FOREIGN KEY([ID_DON_VI_TINH])
REFERENCES [dbo].[DON_VI_TINH] ([ID])
GO
ALTER TABLE [dbo].[SAN_PHAM] CHECK CONSTRAINT [FK_SAN_PHAM_DON_VI_TINH]
GO

-- THÔNG TIN TÀI KHOẢN MẶC ĐỊNH:
-- Admin:
--   Username: admin    | Password: admin   | Quyền: ADMIN
--   Username: ptd4     | Password: 123456  | Quyền: ADMIN (Phạm Thị Dung)
-- 
-- User:
--   Username: nva1     | Password: 123456  | Quyền: USER (Nguyễn Văn An)
--   Username: ttb2     | Password: 123456  | Quyền: USER (Trần Thị Bình)
--   Username: lvc3     | Password: 123456  | Quyền: USER (Lê Văn Cường)
-- 
-- Lưu ý: Mật khẩu đã được mã hóa MD5
-- ============================================


